<html>
<head>
<title>	Flask app </title>
<link rel="stylesheet" href={{ url_for('static', filename='css/topStyle.css') }} />
</head>

<body>
	<div id="title">
		<p style="
			color: white;
			/* text-align: center; */
			font-size: 30px;
			margin-left: 25px;
		">FashionFinds</p>
		<form style="
		margin-left: 450px;
	">
	<input id="searchBox" type="text" name="searchQuery">
			<input id="searchButton" type="submit" value="Search">
		</form>
	
		{% if not loggedIn %}
		<div id="signInButton">
			<a class="link" href="/loginForm">Sign In</a>
		</div>
		{% else %}
		<div class="dropdown">
			<button class="dropbtn">Hello, <br>{{firstName}}</button>
			<div class="dropdown-content">
				<a href="/account/orders">Your orders</a>
				<a href="/account/profile">Your profile</a>
				<hr>
				<a href="/logout">Sign Out</a>
			</div>
		</div>
		{% endif %}
		<div id="kart">
			<a class="link" href="/cart">
				<img src={{url_for('static', filename='images/shoppingCart.png')}} id="cartIcon" />
				CART {{noOfItems}}
			</a>
		</div>
	</div>

<p> {{error}} </p>
<form action="/login" method="POST">
	<p>Email: <input type="text" name="email"></p>
	<p>Password: <input type="password" name="password"></p>
	<p><input type="submit"></p>
	<a href="/registerationForm">Register here</a>
</form>

</body>
</html>
